/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
    color: #333;
    padding: 20px;
}

/* Header and Navigation */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 20px;
    font-size: 2.5rem;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li {
    margin: 0 15px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header ul li a:hover {
    text-decoration: underline;
}

/* Main Section */
main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.intro {
    text-align: center;
}

.intro h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.intro p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.posts h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

article {
    margin-bottom: 20px;
}

article h3 a {
    font-size: 1.4rem;
    color: #333;
    text-decoration: none;
}

article h3 a:hover {
    color: #007BFF;
    text-decoration: underline;
}

article p {
    margin-top: 5px;
    font-size: 1.1rem;
    color: #555;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

footer p {
    font-size: 0.9rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    main {
        padding: 10px;
    }

    .intro p, .posts article p {
        font-size: 1rem;
    }
}

